body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;

  background-color: #ffffff;
}

header {
  width: 100%;

  background-color: #0984e3;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1024px;
  margin: 0 auto;
}

.logo {
  padding-bottom: 5px;
}

.logo a {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.logo a:hover {
  opacity: 0.6;
}

.logo a:active {
  opacity: 0.3;
}

.main-nav {
  display: flex;
  list-style: none;

  margin: 0;
  padding: 0;
}

.main-nav a {
  display: block;
  padding: 20px;

  color: #ffffff;
  text-decoration: none;
}

.main-nav a:hover {
  background-color: #086db9;
}

.main-nav a:active {
  opacity: 0.3;
}
